
* {
    box-sizing: border-box;
  }



body {
    font-family:'Ubuntu', sans-serif; 
    background-image: url(/images/Gradient\ background_1.png);
    /* background-position: center; */
    background-size: 120%;
    font-size: 1rem ;
}

section .header-box {
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.4);
    background-position: center;
    border-radius: 50px;
    position: relative;
    left: 5vw;
}

section .logo img {
    width: 6%;
    margin-left:7vw;
}

.logo a {
    text-decoration: none;
    font-size: 1rem;
    font-family:'Ubuntu', sans-serif;
    color: black; 
}

.logo a:hover {
    text-decoration: none;
    font-size: 1rem;
    font-family:'Ubuntu', sans-serif;
    color: black; 
}


.header {
    min-height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    padding: 1em 2em;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:1%;
    margin-top: 0px;
    box-sizing: border-box;
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: right;
    position: relative;
    right:8%;  
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: .7em 1.5em; 
    font-weight: 400;  
    font-family:'Ubuntu', sans-serif; 
}

.nav-links ul li:hover {
    color: rgb(0, 0, 0);
    background-color:rgba(13, 88, 209, 0.1);
    padding: .7em 1.5em;
    border-radius: 8px;
    transition: .2s;
    font-size: 1rem ;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: .9rem;
}

.nav-links i {
    display: none;
}

i#showMenu {
    display: none;
}


section .hero-image img {
    position: relative;
    left:55%;
    width: 45%;
    top:-20vh;
}

section .header-content h1 {
    font-size: 3.5em;
    font-weight:800;
    color: black;
    position: relative;
    left: 5%;
    top: 20vh;
    font-family:'Ubuntu', sans-serif; 
}

section .header-content h4 {
    font-size:1rem;
    color: black;
    position: relative;
    left: 5%;
    font-weight: 400;
    margin: 1.5em .5em;
    top: 18vh;
    font-family:'Ubuntu', sans-serif; 
}


section a.hero-btn {
    position: absolute;
    font-size: 1.1rem;
    background-color: #355acc;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: 5;
    padding: .7em 1.5em ;
    text-decoration: none;
    top: 30vh;
    left:5%;
    margin-top: 3em;
    text-align: center;
    font-weight: 500;
    font-family:'Ubuntu', sans-serif; 
}


section a.hero-btn:hover {
    box-shadow: 5px 10px 10px rgba(13, 88, 209, 0.4);
    transition: .3s;
    font-size: 1.1rem;
}

 /* footer.footer li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
} */

/* .fa-linkedin::before {
    font-size: 28px;
}

.fa-github::before {
    font-size: 28px;
} */

.list-inline-item {
    font-size: 1.5rem;
}

.footer-copyright {
    font-size: .8rem;
    font-weight: normal;
}



@media screen and (max-width: 480px) {

.logo {
    position: relative;
    left: 2%;
    
}

section .logo img {
    width: 5%;
    margin-left:5%;
    top:1%;
}

.logo a {
    text-decoration: none;
    font-size: .8rem;
    font-family:'Ubuntu', sans-serif;
    color: black; 
}

.logo a:hover {
    text-decoration: none;
    font-size: .8rem;
    font-family:'Ubuntu', sans-serif;
    color: black; 
}

section .header-box {
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.4);
    background-position: center;
    border-radius: 6%;
    position: relative;
    height: 60%;
}


    section .header-content h1 {
        font-size: 2.5rem;
        position: relative;
        left: 2%;
        right:2%;
        font-weight: 600;
        top: 24vh; 
    }
    
    section .header-content h4 {
        font-size:.7rem;
        font-weight: 400;
        margin: .3em .1em;
        top: 24.5vh;
        left: 15%;
    }

    nav {
        display: flex;
        padding: .1em .2em;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top:1%;
        margin-top: 0px;
        box-sizing: border-box;
        width: 100%;
    }
    
    .nav-links {
        text-align: right;
        position: absolute;
        right:1%;  
        background: rgba(255, 255, 255);
        height:24vh;
        width:35%;
        border-radius: 7px;
        top:45%;
        right:5%;
        text-align: left;
        z-index: 6;
        margin: 5%;
    }

    .nav-links ul li {
        list-style: none;
        display: flex;
        position: relative;
        padding: .3em .5em; 
        font-weight: 400;  
        font-size: .7rem ;
        font-family:'Ubuntu', sans-serif; 
    }


    
    .nav-links ul li:hover {
        color: rgb(0, 0, 0);
        background-color:rgba(13, 88, 209, 0.1);
        padding: .7em 1.5em;
        border-radius: 8px;
        transition: .2s;
        font-size: 1rem ;
    }
    
    .nav-links ul li a {
        color: black;
        text-decoration: none;
        font-size: .9rem;
        
    }

    .nav-links i {
        display: block;
        color: black;
        font-size: 1rem; 
        cursor:pointer;    
    }
    
    i#showMenu.fas.fa-bars {
        display: block;
        position: relative;
        right: 1%;
        z-index: 9;
        padding: .5em !important;
        margin: 1em !important;
    }

    i#hideMenu.far.fa-times-circle {
        position: relative;
        right: 4%;
        z-index: 8;
        padding: .5em !important;
        margin: .5em !important;
    }

    section .hero-image img {
        position: relative;
        left:6%;
        right: 6%;
        width: 88%;
        top:35vh;
    }
    
    section a.hero-btn {
        font-size: .8rem;
        color: rgb(255, 255, 255);
        border-radius: 7px;
        padding: .6em 1em ;
        top: 36vh;
        left:35%;
        right:35%;
        margin-top: 1em;
        text-align: center;
        font-weight: 500;
        font-family:'Ubuntu', sans-serif; 
    }
    
    
    section a.hero-btn:hover {
        box-shadow: 2px 4px 4px rgba(13, 88, 209, 0.4);
        transition: .3s;
        font-size: .6rem;
    }


    .list-inline-item {
        font-size: 1.5rem;
    }
    
    .footer-copyright {
        font-size: .8rem;
        font-weight: normal;
    }
    
}


/* --------------------***portfolio***--------------------- */


.portfolio-title h1 {
    
    font-size: 3.5em;
    font-weight:800;
    text-align: left;
    margin-top: .3em ;
    margin-bottom: 1.2em;
    position: relative;
    left: 40%;
    font-family:'Ubuntu', sans-serif; 
}


.columns-card {
  background-color:rgba(255, 255, 255, 0.6);
  margin: 2em;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  width:100%; 
  /* border: green solid 1px; */
  border-radius: 40px;
}

.columns-card .col {
    display: inline-block;
    width: 30%;
    margin: 1em; 
}

.columns-card .col h3 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 700; 
    font-family:'Ubuntu', sans-serif; 
}


.columns-card .col p {
    margin-top: 0;
    margin-bottom: .2;
    color: rgb(36, 35, 35);
    font-family:'Ubuntu', sans-serif;    
    font-weight:normal;
    font-size: 1.1rem;
}

.columns-card .col a {
    color: #355acc;;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 1em;

}

.columns-card .col a:hover {
    color: rgb(0, 0, 0);
    background-color:rgba(13, 88, 209, 0.1);
    padding: .7em 1.5em;
    border-radius: 8px;
    transition: .2s;
    font-size:1rem ;
}


.columns-card .col .card-link {
    margin-top: 1.5em;
}

.columns-card img.image-card  {
    width:100%;
}


.columns-card .col iframe {
    width:100%;
    margin-bottom: 2em; 
}



/* --------------------***about***--------------------- */



.container {
    width:100%;  
  
    /* display: flex; */ 
}

.columns {
    display: flex;
    justify-content: space-between;
    width:100%; 
}

.columns .col {
    width: 100%;
    margin: 1em;   
}

.columns .col .image img {
    /* margin: 1em; */
    padding: 1em;
    border-radius: 40px;
    width:105%; 
} 

.container .about-title h1 {
    font-size: 3.5em;
    font-weight:800;
    text-align: left;
    margin: 2%;
    position: relative;
    left: 40%;
    font-family:'Ubuntu', sans-serif; 
}


.col .text-box {
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1.5em;
    width: 100%;
    border-radius: 40px;
    /* box-shadow: 2px 0px 4px rgba(158, 158, 161, 0.3); */
}
    
.col .text-box .text-small {
    margin: 0; 
}

.col .text-box p {
    margin-top: 0;
    margin-bottom: .2;
    color: rgb(85, 85, 85);
    padding-left: 1.5em; 
    font-weight:normal;
    font-size: 1rem;
    font-family:'Ubuntu', sans-serif; 
}

.col .text-box h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    padding: 1em;
    font-family:'Ubuntu', sans-serif; 
}

.col .text-box h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: .9em;
    font-weight: 700;
    font-family:'Ubuntu', sans-serif; 
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: .4em; /* change this to whatever height you want it */
}

.text-box ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: .5rem;
    font-size: 1.2rem;
    color: rgb(65, 62, 62);
    margin: .5em;
    font-family:'Ubuntu', sans-serif; 
}

.text-box ul {
    margin-left: -.2rem;
}

/* --------------------***contact***--------------------- */

.header-contact {
    min-height: 100vh;
   width: 100vw;
}

 .contact-title h1 {

    font-size: 3.5em;
    font-weight:800;
    text-align: center;
    margin-top: 0;
    margin-bottom: .6em;
    position: relative;
    top:5%;
    font-family:'Ubuntu', sans-serif; 
}

.contact-section {
    position: relative;
    top:5%;
    width:70%;
    left:15%;
    right: 15%;    
}

.contact-section .card {
    align-content: center; 
    border-radius: 40px;
    height: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6) ;
    font-family:'Ubuntu', sans-serif; 
    font-weight: normal;  
    border: 0;     
}

 i.fas.fa-envelope {
    font-size: 1rem;
    margin: .2em;
}

.card-body h4 {
    font-weight: 500;
    font-family:'Ubuntu', sans-serif; 
}

.btn {
    width: 20%;
    margin-top: 1em;
    margin-left: .2em;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#355acc !important;
}

.fab {
    color:black !important;

}

.btn:hover {
    box-shadow: 5px 10px 10px rgba(13, 88, 209, 0.4);
    transition: .3s;
}