body {
    font-family:'Ubuntu', sans-serif;  
}

section .header-box {
    width: 90vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.4);
    background-position: center;
    border-radius: 50px;
    position: relative;
    left: 5vw;
}

section .logo img {
    width: 6vw;
    margin-left:5vw;
}

.header {
    min-height: 100vh;
   width: 100vw;
   background-image: url(/images/Gradient\ background_1.png);
   background-position: center;
   background-size: cover;
}

nav {
    display: flex;
    padding: 2px 4px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:5px;
    margin-top: 0px;

}

/* nav img {
    width: 150px;
} */

.nav-links {
    flex: 1;
    text-align: right;
    position: relative;
    right:150px;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    justify-content: space-around;
    
}


.nav-links ul li:hover {
    color: rgb(0, 0, 0);
    background-color:rgba(13, 88, 209, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    transition: .2s;
    font-size:20px ;

}


.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

section .hero-image img {
    position: relative;
    left:1000px;
    width: 40%;
    top:-20vh;
}

section .header-content h1 {
    font-size: 80px;
    color: black;
    position: relative;
    left: 10%;
    font-weight: 700;
    top: 10vh;
}

section .header-content h4 {
    font-size: 24px;
    color: black;
    position: relative;
    left: 10%;
    font-weight: 400;
    margin: 20px 10px;
    top: 10vh;
}


section a.hero-btn {
    position: absolute;
    font-size: 20px;
    background-color: #355acc;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 5;
    padding: 16px 36px ;
    text-decoration: none;
    top: 30vh;
    left:10%;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}


section a.hero-btn:hover {
    box-shadow: 5px 10px 10px rgba(13, 88, 209, 0.4);
    transition: .3s;
    font-size: 22px

}


 footer.footer li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;

}


.fa-linkedin::before {
    font-size: 28px;
}

.fa-github::before {
    font-size: 28px;
}


/* --------------------***portfolio***--------------------- */

.header-portfolio .portfolio-title h1 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}


section .cards {
    display: flex;
    justify-content: center;
    
}


section .cards .card {
    

}